:root {
    --espaciado-normal: 1.25em;
    --espaciado-chico: calc(var(--espaciado-normal)/2);
    --espaciado-muy-chico: calc(var(--espaciado-normal)/4);
    --espaciado-grande: calc(var(--espaciado-normal)*1.5);
    --espaciado-muy-grande: calc(var(--espaciado-normal)*2);

    --fuente-Roboto: 'Roboto', sans-serif;
}


body{
    font-family: var(--fuente-Roboto);
    display: grid;
    grid-template: 80px 1fr/ 350px 1fr;
    grid-template-areas: "menu header" "menu peliculas";
    height: 100vh;
}

/* ---------------------- MENU ----------------------*/

.section-menu{
    grid-area: menu;
    display: grid;
    height: 100vh;
    padding: var(--espaciado-normal);
    background-color: #0d0d0d;
    color: white;
    grid-template-rows: auto 1fr 1fr;
    box-sizing: border-box;
    gap: var(--espaciado-normal);
}

.menu-logo{
    width: 95%;
    padding: var(--espaciado-normal) 0;
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
}

.menu-nuevos{
    display: grid;
    overflow: auto;
    list-style-position: inside;
}

.menu-nuevos .menu-lista a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.menu-nuevos .menu-lista a:hover{
    text-decoration: underline;
}

.menu-title{
    margin-top: 0;
    margin-bottom: var(--espaciado-chico);
    font-size:1.6em;
    font-weight: 600;
}

.menu-amigos{
    padding: 0;
    overflow: auto;
    display: grid;
    list-style: none;
}

.menu-amigos span{
    padding-left: var(--espaciado-chico);
}

.menu-amigos img{
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.menu-lista{
    overflow: auto;
    padding: 0;
    margin: 0;
    font-size: .9em;
}

.menu-lista li{
    margin: var(--espaciado-chico) 0;
}


/* ---------------------- HEADER ----------------------*/

.header{
    height: 80px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.formulario{
    padding: var(--espaciado-chico);
}

.header .formulario input{
    height: 2.5em;
    width: 50%;
    min-width: 280px;
    font-weight: 300;
    padding: 0 var(--espaciado-chico);
    background-color: #f9f9f9;
    border: none;
    outline: none;
    border-radius: var(--espaciado-chico);
}

.header p{
    padding: 0 var(--espaciado-normal);
    margin: 0;
}

.header img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    margin-right: var(--espaciado-chico);
}

/* ---------------------- PELICULAS ----------------------*/

.section-peliculas{
    padding: var(--espaciado-chico);
    overflow: auto;
}

.pelicula-subtitulo{
    color: #6c757d;
    font-size: .8em;
    font-weight: 300;
}

.pelicula-categoria-titulo{
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: var(--espaciado-chico);
}

.peliculas-container{
    display: flex;
    height: min-content;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: var(--espaciado-chico);
}

.pelicula{
    margin: 0 var(--espaciado-chico) 0 0;
    cursor: pointer;
}

.pelicula img{
    width: 10rem;
}

.pelicula figcaption{
    font-size: .9em;
    margin-top: var(--espaciado-muy-chico);
}